name: Deploy to Hostinger VPS

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'

    - name: Install Client Dependencies
      run: |
        cd client
        npm install

    - name: Build Client
      run: |
        cd client
        npm run build

    - name: Install Server Dependencies
      run: |
        cd server
        npm install

    - name: Deploy to VPS
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST_IP }}
        username: ${{ secrets.HOST_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        source: "./client/dist/*,./server/*,./package.json"
        target: "/var/www/tfcc"
        strip_components: 0
        debug: true
        insecure: true

    - name: Restart Server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST_IP }}
        username: ${{ secrets.HOST_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /var/www/tfcc/server
          npm install --production
          pm2 reload tfcc-backend || pm2 start index.js --name tfcc-backend
